.bg-footer {
    background-color: #032541;
    font-family: "Source Sanse Pro", Arial, sans-serif;
    position: relative;
    bottom: 0;
    z-index: 4;
}

.footer-box {
    display: flex;
    padding: 80px 0px;
    gap: 40px;
}

.footer-box-child {
    display: flex;
    box-sizing: border-box;
    margin-right: 40px;
    min-width: 0;
}

.footer-box-width {
    width: calc(100% / 5);
}

.footer-icon {
    width: 130px;
    height: 90px;
    position: absolute;
    right: 0;
}

.join-footer {
    text-align: right;
    position: relative;
    top: -36px;
    right: 0;
}

.footer-btn {
    padding: 8px 16px;
    color: #01b4e4;
    border: none;
    font-size: 1.3em;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: linear .1s;
    font-weight: 700;
    position: relative;
    top: 120px;
    font-weight: bold;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    text-transform: uppercase;
}

.footer-link-title {
    font-weight: 700;
}

.footer-end-text {
    color: #1c3b54;
    text-align: center;
    font-size: 11.2px;
    margin: 0;
}