* {
  margin: 0;
  padding: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
}

.not-found-section {
  padding: 50px 0px 100px;
}

.found-404-link {
  color: #01b4e4;
}

.content-people-card-component {
  margin: 10px 20px;
  width: calc(20% - 40px);
}

.no-person-img {
  height: 328.8px;
  width: 100%;
}

.content-card-component {
  margin: 10px;
  width: calc(20% - 20px) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
}

.movie-info-section {
  position: relative;
  height: 600px;
}

.bg-opacity {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 2;
}

.contetnt-z-index {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.kol-8 {
  position: relative;
}

.bar {
  margin: 130px 0px;
}

.rate {
  width: 10%;
  position: absolute;
  top: 80px;
}

.movie-genres {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.movie-genres li a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.search-detailes {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.rows {
  height: 200px;
}

/* .watch-list {
    width: 100%;
    height: 100vh;
} */
.favorite-items {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

.favourite-movies-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 133.32px;
  height: 200px;
}

.remove-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn span {
  font-size: 25px;
}

.remove-btn:hover span i {
  color: rgb(255, 0, 0);
}

.movie-overview {
  overflow-y: scroll;
  height: 60px;
}

.bg-footer {
  background-color: #032541;
  font-family: "Source Sanse Pro", Arial, sans-serif;
  position: absolute;
  /* bottom: 0px; */
  right: 0;
  left: 0;
  z-index: 4;
}

.footer-box {
  display: flex;
  /* justify-content: center; */
  padding: 80px 0px;
  gap: 40px;
}

.footer-box-child {
  display: flex;
  box-sizing: border-box;
  margin-right: 40px;
  min-width: 0;
}

.footer-box-width {
  width: 20%;
}

.footer-icon {
  width: 130px;
  height: 90px;
  position: absolute;
  right: 0;
}

.join-footer {
  text-align: right;
  position: relative;
  top: -36px;
  right: 0;
}

.footer-btn {
  padding: 8px 16px;
  color: #01b4e4;
  border: none;
  font-size: 1.3em;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: linear 0.1s;
  font-weight: 700;
  position: relative;
  top: 120px;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
}

.footer-link-title {
  font-weight: 700;
}

.footer-end-text {
  color: #1c3b54;
  text-align: center;
  font-size: 11.2px;
  margin: 0;
}

.bg-tmdb {
  background-color: #032541;
}

.tmdb-li {
  padding: 8px;
}

.tmdb-li a {
  color: white;
  font-size: 16px;
  font-family: "Source Sanse Pro", Arial, sans-serif;
  font-weight: 600;
}

.tmdb-img {
  width: 154px;
}

.menu {
  display: none;
  width: 180px;
  background: white;
  padding: 8px 0px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.tmdb-li:hover .menu {
  display: block;
  position: absolute;
  z-index: 10;
}

.menu li:hover {
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.053);
}

.drop-down {
  padding: 3px 44px 3px 24px;
}

.drop-down a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.right-side-items-icon {
  color: white;
  font-size: 20px;
}

.RU-square {
  border: 0.5px solid white;
  padding: 3px 5px;
  border-radius: 3px;
}

.user-circle {
  border-radius: 40%;
  border: 0.5px solid white;
}

.search-icon-color {
  color: #01b4e4;
}

.acc {
  transition: 0.5s;
}

.acc:hover {
  transition: 0.5s;
  transform: scale(1.5);
}

.acc:hover i {
  transition: 0.5s;
  color: red;
}

.content-section {
  /* background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/34OGjFEbHj0E3lE2w0iTUVq0CBz.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
}

.content {
  padding: 30px 40px;
}

.content-title {
  margin-bottom: 40px;
}

.content-text {
  color: white;
  font-weight: 700;
}

.search {
  position: relative;
}

.search-input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 20px;
  /* position: absolute; */
  /* z-index: 2; */
  border: none;
}

.search-button {
  /* width: 10%; */
  border: none;
  padding: 10px 26px;
  border-radius: 30px;
  position: absolute;
  z-index: 3;
  right: 0;
  background: linear-gradient(95deg, #19d0b2, #05b8dd);
  color: white;
  font-weight: 700;
}

.search-button:hover {
  color: black;
}

.weekly-content {
  padding: 30px 0px 0px;
}

.selector {
  border: 1px solid black;
  border-radius: 30px;
  /* padding: 0px 10px; */
}

.today {
  border: none;
  border-radius: 30px;
  background-color: #032541;
  /* text-decoration-color: hwb(hue red green); */
  color: white;
  padding: 0px 10px;
}

.weekly-items-card {
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-items {
  background: transparent;
  background: rgba(255, 0, 0, 0);
  width: 150px !important;
}

.swiper-card {
  width: 200px;
  height: 350px;
  position: relative;
}

.carousel-item-title {
  color: black;
  font-weight: 700;
  width: 150px;
}

.span-btn {
  border: 1px solid #032541;
  border-radius: 30px;
}

.trending-btn {
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
}

.active_btn {
  background-color: #032541;
}

.trending-btn-text {
  padding: 4px 20px;
  margin: 0;
  background: linear-gradient(60deg, #b1fbcb, #08daa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-card {
  position: relative;
}

.swiper-card-icon {
  position: absolute;
  z-index: 10;
  top: 0;
}

.adding-list {
  width: 150px;
  padding: 0px;
}

.circle {
  width: 20%;
  position: absolute;
  top: 180px;
}/*# sourceMappingURL=import.css.map */