.carousel-items {
    background: transparent;
    background: rgba(255, 0, 0, 0);
    width: 150px !important;
}

.swiper-card {
    width: 200px;
    height: 350px;
    position: relative;
}

.carousel-item-title {
    color: black;
    font-weight: 700;
    width: 150px;
}

.span-btn {
    border: 1px solid #032541;
    border-radius: 30px;
}

.trending-btn{
    border-radius: 30px;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}

.active_btn {
    background-color: #032541;
}

.trending-btn-text {
    padding: 4px 20px;
    margin: 0;
    background: linear-gradient(60deg, #b1fbcb, #08daa6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.swiper-card {
    position: relative;
}

.swiper-card-icon {
    position: absolute;
    z-index: 10;
    top: 0;
}

.adding-list {
    width: 150px;
    padding: 0px;
}

.circle {
    width: 20%;
    position: absolute;
    top: 180px;
}